<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello World!</title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div>

        <div>
          귤과 사과 그리고 바나나 중 어떤 과일을 좋아하는지 입력해주세요?
        </div>

        <input v-model="result" placeholder="귤과 사과, 바나나 중 하나를 입력해주세요" style="width: 400px;"/>
        <br /><br />

        <!-- div에 v-if로 표시 여부를 적용해보세요.  -->
        <div id="image_area_v_if">
          <div>v-if</div>
          <img v-if="result == '사과'" src="https://raw.githubusercontent.com/esperancer/tz_1909_vue_study/master/week1/study_guide_image/img_apple.jpg" />
          <img v-else-if="result == '귤'" src="https://raw.githubusercontent.com/esperancer/tz_1909_vue_study/master/week1/study_guide_image/img_tangerine.jpg" />
          <img v-else-if="result == '바나나'" src="https://raw.githubusercontent.com/esperancer/tz_1909_vue_study/master/week1/study_guide_image/img_banana.jpg" />
          <span v-else>현재 아무것도 고르지 않았습니다.</span>
        </div>

        <br /><br />

        <!-- div에 v-show로 표시 여부를 적용해보세요.  -->
        <div id="image_area_v_show">
          <div>v-show</div>
          <img v-if="result == '사과'" src="https://raw.githubusercontent.com/esperancer/tz_1909_vue_study/master/week1/study_guide_image/img_apple.jpg" />
          <img v-else-if="result == '귤'" src="https://raw.githubusercontent.com/esperancer/tz_1909_vue_study/master/week1/study_guide_image/img_tangerine.jpg" />
          <img v-else-if="result == '바나나'" src="https://raw.githubusercontent.com/esperancer/tz_1909_vue_study/master/week1/study_guide_image/img_banana.jpg" />
          <span v-else>현재 아무것도 고르지 않았습니다.</span>
        </div>
      </div>

    </div>
    <script type="text/javascript">
      var model = {
        result : ""
      }

      var vm = new Vue({
        el : "#app",
        data : model
      });
    </script>
  </body>
</html>
